*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

main
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.topBold
{
    height: 30vh;
    width: 90%;
    border: solid 3px black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.middleDash
{
    height: 30vh;
    width: 90%;
    border: dotted 3px black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottomShadow
{
    height: 30vh;
    width: 30vh;
    box-shadow: 5px 5px 10px black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purpleRectangle
{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    width: 60px;
    background: purple;
    position: relative;
}

.greenRectangle
{
    margin-right: 20px;
    height: 90%;
    width: 60%;
    background: green;
    position: relative;
}

.blueCircle
{
    height: 250px;
    width: 250px;
    background: lightblue;
    border-radius: 50%;
    display: inline-block;  
}

.creamRectangle
{
    height: 75%;
    width: 90%;
    background: rgb(255, 255, 138);
    box-shadow: 5px 5px 10px black;
}

.hello
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    margin: 0px;
}

.friends
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    margin: 0px;
}